{%- import 'macros/head.html' as macros_head -%}
{%- import 'macros/nav.html' as macros_nav -%}
{%- import 'macros/main.html' as macros_main -%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ macros_head::title() }}
{{ macros_head::stylesheets() }}
</head>
<body>
<main>
{{ macros_nav::navbar() }}
{% block page_title %}
{{ macros_main::page_title() }}
{% endblock page_title %}
{% block content %}{% endblock content %}
</main>
</body>
</html>